.login-webpage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}


.login-rightview{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

