.container {
    width: 200px;
    padding: 0;
    margin: 0;
}

.side__nav {
    margin: 0;
    padding: 0;
    height: 110vh; 
    background-color: #4DDDB5;
    width: 100%;
    transition: width 0.2s linear, left 0.6s ease;
    box-shadow: 9px 8px 13px 0 rgba(0, 0, 0, 0.06);
    position: relative;
}

.side__nav:hover {
    box-shadow: 9px 8px 13px 0 rgba(0, 0, 0, 0.2);
}



ul {
    padding: 10px;
    margin: 0;
    list-style: none;
}

ul li {
    list-style: none;
}

ul li ul li {
    display: block;
}

ul li:hover ul li {
    display: block;
}

.wall-side {
    text-decoration: none;
    position: relative;
    display: table;
    width: 230px;
    padding: 15px; 
}

.wall-side:hover {
    background-color: #F3F4FF;
    border-radius: 40px 0px 0px 40px;
    width: 190px;
}

.logo {
    text-align: left;
    position: absolute;
    top: 0;
    transition: all 0.5s ease;
}

.logo-img {
    width: 60px;
    height: 47px;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 50%;
}

.nav-item,
.nav-item-1 {
    top: 5px;
    font-weight: 400;
    font-size: 15px;
    color: gray;
}

.bottom {
    width: 100%;
    position: absolute;
    margin-top: 30rem; 
}

.side-link {
    padding: 15px;
    text-decoration: none;
}

.logout {
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    margin-top: calc(100vh - 370px);
}

.logout-btn {
    justify-self: flex-end;
    position: relative;
    width: 100%;
    padding: 10px;
    margin: 8px;
    border-radius: 20px;
}