.web-page {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
}
.left-view{
    display: grid;
    padding-left: 1rem;
    grid-template-rows: 1fr 3fr;
    background-color: rgb(255, 0, 0);
}
.right-view{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 2fr 6fr;
    background-color: #fff;
}